* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box {
    background-image: url("https://picsum.photos/seed/picsum/1400/300");
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 300px;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

input:invalid {
    border: 2px solid red
}

input:valid {
    border: 2px solid green
}