* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.card {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.card img {
    vertical-align: top;
}

.card .txt {
    padding: 10px;
    background-color: rgba(255, 200, 100, .5);
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    /* top: 0; */
    transition: 1s;
}

.card:hover .txt {
    bottom: 0
}