* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    /* width: 100%; */
    max-width: 1200px;
    margin: auto;
    display: flex;
    background-color: blue;
}

.col {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
    outline: 1px solid #000;
}

.item {
    width: 100%;
    height: 300px;
    background-color: #ffa;
    outline: 1px solid red
}