* {
    padding: 0;
    margin: 0;
    list-style: none;
}


.col-1 {
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

.col-2 {
    margin-bottom: 20px;
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px;
}

.col-3 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 33.333333%;
}

.col-4 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 25%;
}

.col-5 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 20%;
}

.col-6 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 16.666667%;
}

.col-7 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 14.285714%;
    background-color: #00a;
    height: 100px;
}

.col-8 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 12.5%;
}

.col-9 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 11.111111%;
    %
}

.col-10 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 10%;
}

/* .col-11 
    box-sizing: border-box; padding: 0 15px;
    width: 9.090909%;
} */

.col-12 {
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 15px;
    width: 8.333333%;
}

.wrap {
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1200px; */
}

.item {
    width: 100%;
    height: 100px;
    background-color: #f00;
}