* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    max-width: 1200px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.item {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;
}

.item img {
    vertical-align: top;
    width: 100%;

}

.item h3 {
    margin: 10px 0 5px;
}

.item p {
    margin: 10px 0 5px;
}

@media screen and (min-width: 768px) {
    .wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        width: 47.3958333%;
        /* margin: 10px 1.302083333%; */
    }
}


@media screen and (min-width: 992px) {

    .item {
        width: 31.380205%;
        /* 1024 */
        margin: 10px 0.9765625%;
    }
}

@media screen and (min-width: 1200px) {


    .item {
        width: 15%;
        margin: 10px 0.8333333%;
    }
}