* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
    box-sizing: border-box;
}

.item img {
    width: 100%;
}

@media screen and (min-width: 768px) {

    .item {
        margin: 10px 1.3020833333%;
        width: 47.3958333333%;
    }
}

@media screen and (min-width: 992px) {

    .item {
        margin: 10px .9765%;
        width: ;
    }
}