@import variables
@import layout
@import landing
@import columns
@import content_with_title

body
    font-family: $font-body

h1
    font-family: $font-hl
    font-weight: 900

.container
    width: $container-width
    margin: auto

.container.container--fluid
    width: auto
