* {
  color: rgb(58, 107, 58);
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  font-size: 20;
  color: rgb(233, 174, 48);
}

h1 {
  color: chocolate;
}

#priority {
  color: coral;
}


.focus {
  color: green;
  background-color: yellow;
}

div span {
  background-color: blueviolet;
}

ol span {
  color: rgb(118, 118, 196);
}

ol strong {
  color: #000;
  background-color: wheat;
}

body {
  padding-top: 60px;
}

nav {
  background-color: rgb(83, 139, 83);
  opacity: 0.6;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: rgb(240, 206, 217);
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 10px;
}

.box {
  background-color: rgb(217, 8, 69);
  width: 400px;
  text-align: center;
}

.margin {
  border: 5px dashed black;
}

.border {
  border: 5px solid orange;
}

.padding {
  border: 5px solid yellow;

}

.content {
  border: 5px solid green;
}

.table strong,
th,
td {
  color: #000;
}