/* input:checked {
    transform: scale(2);
} */

nav {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    margin: 10px;
}

nav:hover {
    display: block;
}

#menu-control {
    /* position: absolute;
    left: -100px; */
}

#menu-control:checked~.main-nav {
    display: block;
}