* {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu-control {
    display: none;
}

.main-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #ffa;
    position: relative;
}

.logo img {
    vertical-align: middle;
}

.main-nav {
    background-color: #aaf;
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
}

.main-nav a+a {

    /* border: 2px solid */
}

.hb {
    display: block;
    width: 28px;
    height: 28px;
    border: 3px solid #cccccc
}

/* smartphone */
@media screen and (max-width: 767px) {
    .hb {
        display: block;
        width: 28px;
        height: 28px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .hb span {
        height: 2px;
        width: 20px;
        background-color: #666666;
        /* display: block; */
        margin: 2px;
    }

    .main-nav {
        position: absolute;
        top: 0%;
        width: 80%;
        left: -80%;
        height: 100vh;
        transition: left .5s;
        /* display: none; */
    }

    #menu-control:checked~.main-header .main-nav {
        left: 0
    }

    /* ipad */
    @media screen and (min-width: 768px) {
        .hb {
            display: none;
        }

        .main-nav {
            display: flex;
            position: relative;
            top: auto;
            width: auto;
        }

        .main-nav a+a {
            border-top: none;
        }
    }