.landing_section
  color: $dark-font-color
.three.columns
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 1rem

.landing_section__title
  text-transform: uppercase
  font-size: 2rem

.room_card h3
  text-transform: uppercase

.room_card__spec
  color: #666666

.room_card__price
  color: #999999
  font-weight: bold

.room_card__price__amount
  color: $blue
