.body {
  padding-top: 60px;
  width: 960px;
}

.nav_bar {
  border: rgb(217, 8, 69) solid;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}
.logo {
  padding: 10px;
}
.menu {
  justify-content: flex-end;
  /* position: fixed; */
  /* padding-top: 0;
  padding-right: 0; */
  /* width: 100%; */
}
.menu a {
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-size: 14.4px;
  display: inline-block;
  padding: 25px 20px;
  /* background-color: rgb(217, 8, 69); */
}

.menu a:hover {
  color: rgb(217, 8, 69);
}
