* {
  color: rgb(85, 85, 85);
}

.body {
  width: 960px;
}

.nav_bar {
  position: fixed;
  background-color: #fff;
  opacity: 0.9;
  width: 100%;
}

.nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: rgb(77, 75, 75);
  font-size: 14.4px;
  display: inline-block;
  padding: 25px 10px;
  transition: 0.3s ease-in-out;
}

.menu a:hover {
  color: rgb(217, 8, 69);
}

.banner {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.about {
  padding: 10px;
  margin: 10px;
}

.item_group_about {
  display: flex;
  justify-content: center;
}

h3 {
  font-size: 24px;
}

.title {
  text-align: center;
}

.title p {
  color: rgb(217, 8, 69);
  font-size: 50px;
}
.about {
  background-color: #f7f7f7;
}
.item_about {
  margin-top: 10px;
  padding: 10px;
  margin: 0px;
  width: 220px;
  text-align: center;
}

.item_about img {
  padding: 10px;
}

.item_about p {
  font-size: 16px;
  padding: 10px;
}

.hot {
  padding: 10px;
  margin: 10px;
}

.item_group_hot {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 0 200px;
}

.item_hot {
  border-color: 999999;
  border: 5px;
  margin: 20px;
}

.item_hot img {
  width: 100%;
}

.hot .more_red-box p {
  color: white;
  font-size: 18px;
}

.more_red-box {
  width: 15%;
  text-align: center;
  background-color: rgb(217, 8, 69);
  padding: 15px 35px;
  margin: 24px;
  border-radius: 5px;
  margin: auto;
}

.commendation {
  background-color: #f7f7f7;
  padding: 50px;
  margin: 30px 0;
  height: 400px;
}

.item_group_commendation {
  display: flex;
  justify-content: center;
}

.logo img {
  border-radius: 100px;
}

.member-tex {
  width: 345px;
  height: 120px;
}

.commendation span {
  color: #d90846;
  font-size: 24px;
}

.item_group_showcase {
  display: flex;
  margin: auto;
  padding: 0 50px;
  justify-content: center;
}

.item_showcase {
  width: 330px;
  margin: 15px;
  border: 1px solid #dddddd;
  padding: 24px 1px 10px;
}

.item_showcase img {
  width: 100%;
}

.item_showcase span {
  padding: 0 10px;
}

.item_showcase p {
  padding: 0 10px;
  font-size: 14px;
}

.item_showcase div {
  padding: 10px;
  margin: 3px 0;
  font-size: 18px;
}

.container {
  padding: 24px;
}

.text {
  padding: 30px;
  width: 690px;
  margin: auto;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
}

.text a {
  color: #d90846;
}

.social_media {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  margin: auto;
  padding: 0 0 30px;
}

.footer {
  width: 100%;
  padding: 50px 100px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
}

.box {
  margin: 10px;
}

.b1 img {
  width: 150px;
}

.b1 a {
  flex-wrap: wrap;
}

.footer_bar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.footer_bar a:hover {
  color: #d90846;
}

.wrap {
  display: flex;
  margin: 20px;
  padding: 10px;
}

.b2_1_tel {
  padding: 10px;
}

.b2 span {
  color: #d90846;
  font-size: 21px;
}

.b2 {
  padding: 10px;
  font-size: 14px;
}

.b2 a {
  text-decoration: none;
}

.question p {
  padding: 10px 0;
}

.email a {
  padding: 10px 0;
}

.address p {
  padding: 10px 0;
}

.b3 {
  background-color: #e6e6e6;
  font-size: 14px;
  text-align: center;
  padding: 0 20px 50px;
}
